/*  §MIXINS AND VARIABLES
/*==================================================*/

$color: #161616;
$width-min: 780px;
$width-max: 980px;

/*  Vendor Prefixing
/*  @include vendor(background-size, cover);
/*==================================================*/

@mixin vendor($property, $value...){
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}